
<div class="bg-image"></div>

<div class="bg-text">
  <h2>Welcome to</h2>
  <h1 style="font-size:50px">Thesis Management System</h1>
  <%= button_to 'Log In as Student', new_student_session_path, {class: 'btn'} %><br>
  <%= button_to 'Log In as Professor', new_professor_session_path, {class: 'btn'} %>
  <p></p>
</div>

<style type="text/css">
	body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.bg-image {
  /* The image used */
  background-image: url("https://adaptabiz.com/wp-content/uploads/2020/09/google-cardboard-min.jpg");
  
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);
  
  /* Full height */
  height: 100%; 
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.btn{
  position: relative;
  height: 80px;
  width: 300px;
  margin: 0 40px;
  font-size: 23px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 5px;
  text-transform: uppercase;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  overflow: hidden;
  transition: 0.6s;
}
.btn:first-child{
  color: #206592;
  border-color: #206592;
}
.btn:last-child{
  color: #ce5c0c;
  border-color: #ce5c0c;
}
.btn:before, .btn:after{
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  height: 100%;
  filter: blur(30px);
  opacity: 0.4;
  transition: 0.6s;
}
.btn:before{
  width: 60px;
  background: rgba(255,255,255,0.6);
  transform: translateX(-130px) skewX(-45deg);
}
.btn:after{
  width: 30px;
  background: rgba(255,255,255,0.6);
  transform: translateX(-130px) skewX(-45deg);
}
.btn:hover:before,
.btn:hover:after{
  opacity: 0.6;
  transform: translateX(320px) skewX(-45deg);
}
.btn:hover{
  color: #f2f2f2;
}
.btn:hover:first-child{
  background: #206592;
}
.btn:hover:last-child{
  background: #ce5c0c;
}
</style>