 <div class="main-div center">
<!-- app/views/professors/edit.html.erb -->
<h1>Edit Grades and Meeting Date</h1>

<%= render 'form', thesis: @thesis %>
<br>

</div>

<style type="text/css">
  .main-div{
    position: absolute;
    top: 15%;
    left: 35%;


  }
</style>